{% load static %}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/ticketing/css/bootstrap.css">
    <link rel="stylesheet" href="/static/ticketing/css/font-awesome.css">
    <link rel="stylesheet" href="/static/ticketing/css/xxx.css">
    {% block extra_css %} {% endblock %}
</head>

<body>
    <div class="container" id="container">
        <div class="row align-items-center" id="header">
            <div class="col text-center">
                <h1>سامانه فروش بلیت سینما</h1>
            </div>
        </div>

        <div class="row align-items-center" id="toolbar">
            <div class="col-5">
                <h3>
                    {% block toolbar_title %} {% endblock %}
                </h3>
            </div>
            {% block toolbar_buttons %}
            <div class="col text-left">
                <div class="col text-center">
                    <a class="btn btn-light py-1 px-2" href="{% url 'ticketing:movie_list' %}"> <i
                            class="fas fa-film"></i> فهرست فیلم ها
                    </a>
                    <a class="btn btn-warning py-1 px-2" href="{% url 'ticketing:cinema_list' %}"><i
                            class="fas fa-building"></i> فهرست سینماها
                    </a>
                    <a class="btn btn-success py-1 px-2" href="{% url 'ticketing:showtime_list' %}">
                        <i class="fas fa-ticket-alt"></i>
                        خرید بلیت
                    </a>
                </div>
            </div>
            {% endblock %}
        </div>

        {% block main_content %} {% endblock %}

        <div class="row align-items-center" id="footer">
            <div class="col text-center">
                <span>
                    ما را در شبکه های اجتماعی دنبال کنید.
                    <a href="#" class="social-media-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="social-media-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-media-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="social-media-icon">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <script src="/static/ticketing/js/jquery-3.4.0.min.js"></script>
    <script src="/static/ticketing/js/bootstrap.bundle.js"></script>
    <script src="/static/ticketing/js/font-awesome.js"></script>
    <script src="/static/ticketing/js/main.js"></script>
</body>

</html>